<div class="container">
  <mat-toolbar color="primary">
    <span>Gerenciamento de Produtos</span>
  </mat-toolbar>

  <!-- Botão para adicionar produto -->
  <div class="actions">
    <button mat-raised-button color="primary" (click)="openAddProductDialog()">Adicionar Produto</button>
  </div>

  <!-- Tabela de produtos -->
  <mat-card>
    <mat-table [dataSource]="products" class="mat-elevation-z8">
      <!-- Coluna: Nome -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{ product.name }} </mat-cell>
      </ng-container>

      <!-- Coluna: Preço -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
        <mat-cell *matCellDef="let product"> R$ {{ product.price | number: '1.2-2' }} </mat-cell>
      </ng-container>

      <!-- Coluna: Estoque -->
      <ng-container matColumnDef="stock">
        <mat-header-cell *matHeaderCellDef> Estoque </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{ product.stock }}</mat-cell>
      </ng-container>

      <!-- Coluna: Ações -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
        <mat-cell *matCellDef="let product">
          <button mat-icon-button color="primary" (click)="openEditProductDialog(product)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteProduct(product.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Header e Rows -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
</div>
